.custom_footer_darkblue {
  background-color: #09548B;
  border: 0px;
}

.navbar-default .navbar-nav li a{
  color:white;
}

.custom_navbar1 {
  background-color: #0C65A6;
  border: 0px;
}

.footer,.push {
  height: 155px;
}
