<template name="homePageTemplate">

  <div class="jumbotron" style="text-align:center">
    <div class="container" style="">
      <h1>Welcome to Bitchange</h1>
      <p>A safe and secure place to buy and sell bitcoin</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-4" style="border:2px solid #777">
      Buy Bitcoin
      {{> buyingBitcoinForm}}
    </div>
    <div class="col-xs-6 col-md-4" style="border:2px solid #777">
      Sell Bitcoin
      {{> sellingBitcoinForm}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-4" style="border:2px solid #777">
      Buy Orders
    </div>
    <div class="col-xs-6 col-md-4" style="border:2px solid #777">
      Sell Orders
    </div>
  </div>

</template>
